.had{text-align: center;
    width:auto;
    height: auto;
    background-color:hwb(235 69% 7%); 
    border: 5px solid #2773f1}

.easy{text-align: center;
     width:30;
     height:30px;
     background-color:hwb(234 69% 16%);
     border: 5px solid #a2bdea;
    border-radius: 360px;
     margin: 30px;}