body {
  background-color: #f4f7ff;
  padding: 0px;
  margin: 0px 5px 5px;
  font-family: italic;    
}
.had{text-align: center;
    width:auto;
    height: auto;
    background-color:hwb(235 69% 7%); 
    border: 5px solid #2773f1}

.BLUE{color: hwb(120 33% 14%);}
h1{text-align: center;}
  
h2{  width: 650 px;
    height: 90 px; 
  background-color: #3461ab;
   border: 5px solid #95b3c7;;
  object-fit: cover;
     text-align: center;
}
.question {
    background-color:  hwb(192 66% 14%);
  border: 5px solid #95b3c7;;
    padding: 15px;
    margin: 15px 0;
    border-radius: 10px solid #101112;
}

.question p {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
  text-align: center;
}


.option {
    display: block;
    padding: 12px 15px;
    margin: 10px 0;
    background: #f8fafc;
    border: 5px solid #dbeafe;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
}

/* Option hover */
.option:hover {
    background: #eff6ff;
    border-color: #2563eb;
}

/* Radio Button */
.option input[type="radio"] {
    margin-right: 10px;
    accent-color: #2563eb;
}

button {
    display: block;
    margin: 30px auto;
    padding: 13px 35px;
    background: #2563eb;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

#result {
    margin: 30px auto;
    padding: 20px;
    width: 80%;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    background: #e0f2fe;
    border: 2px solid #3b82f6;
    border-radius: 12px;
}